{% extends "f/base.html" %}
{% block body_block %}
{% load static %}

  <div class="continer w-80">
    <div class="row mt-4">
      <div class=" col-12 text-center">

        <h5>
        We increase human potential through a deeper understanding of consciousness and the application of advanced training techniques. In other words, we build better humans and that means better workers for employers and better students for schools.

Prosperity College is a program of India based New Kalapa Tech Park Pvt Ltd and U.S. based Bid Ocean, Inc.

For 20 years, Bid Ocean has endeavored to develop the best possible work force and in the process has conducted extensive research and developed advanced training techniques to help its staff reach their full potential. It is now ready to start sharing its expertise and expand its training operations to the general public.

New Kalapa Tech Park is 2020 startup in Sikkim, India that is dedicated to the development and construction of a new climate-proof, self-sufficient and sustainable civilization. A big part of this effort is the development of better people through a new human culture that nurtures human evolution.
</h5>


      <div class="jumbotron mt-3" id=jum_one>
      <div class=" col-12 text-center mt-3">
        <h3><u>Management</u></h3>
          </div>
        <p> </p>
        <div class="col-12 mt-5">


    <h5>  <b>Tim Loncarich</b> is the founder of Bid Ocean and an entrepreneur who has spent a life-time pursuing a deeper understanding of the human experience and human potential. In the process he has worked with and learned from many of the world's leading researchers, thinkers and doers in the human potential movement and has applied the knowledge to himself and staff.
      <p></p>
      <b>Dr. Chance Eaton</b>Dr. Chance Eaton is the owner of Human Capital Solutions International, www.HCSInter.com, a Learning & Organizational Development Consulting firm. His areas of specialization include organizational psychology, work engagement, leadership development, and well-being. Previous work experience includes Learning & Development for State Government, Farming-Ranching, Higher Education Faculty, Human Resource Leadership, Mental Health Counseling, and Non-Profit Leadership.
      <p></p>
      <b>Parikshat Gising</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <p></p>
      <b>Barsha</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </h5>

</div>
  </div>




      </div>

    </div>

  </div>

</div>
{% endblock %}
