{% extends "f/base.html" %}
{% block body_block %}
{% load static %}
<h1> </h1>
<div class="jumbotron" id="jum_one">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Prosperity College will offer a wide range of courses tailored for student's individual needs. Courses will be available in person, online and for various types of learners. Some of the courses will include:</h3>

      </div>

    </div>

  </div>

</div>
<div class="container" id="cou_one">
  <div class="row mt-1">
<ul>
  <li>Basic psychology, emotional management & trauma resolution</li>
  <li>Meditation & breathing techniques to improve mental clarity and body-mind coherence</li>
  <li>Speed reading, memory techniques & mind mapping for better information management</li>
  <li>Nutrition</li>
  <li>Physical exercise for neurological wellness, body-mind coherence & increased blood flow</li>
  <li>Engagement with the super-mind (sub-conscious) & utilization of intuition</li>
  <li>Effective engagement with the physical world</li>
  <li>Communication, English, voice & speech training, typing, writing, people skills</li>
  <li>Neurotherapy to increase brain capacity and speed</li>
  <li>How businesses really work</li>
  <li>Employee rights and obligations</li>
  <li>Ethics, honesty and authenticity</li>
</ul>

  </div>

</div>
{% endblock %}
