
{% extends "f/base.html" %}
{% block body_block %}


<h1></h1>
<div class="container">
  <h5>To be added to our mailing list and be notified when applications are being accepted please complete the following:</h5>

</div>




<form method="post">
<div class="jumbotron" id="jum_two">

<div class="container w-50">
  <div class="row">
    <div class="col-12">
      {% csrf_token %}
      {{ form_e.as_p }}
        <input type="submit" class="btn btn-primary" value="submit">

    </div>

  </div>

</form>

{% endblock %}
