
{% extends "f/base.html" %}
{% block body_block %}
{% load static %}

<h1></h1>
<div class="container" >
  <h5>We offers courses for students starting at age 12.
    <p> </p>Those under age 16 should get the permission of their parent or guardian to complete the following:

<p> </p>To be added to our mailing list and be notified when applications are being accepted please complete the following:</h5>

</div>


<form method="post">
<div class="jumbotron" id="jum_two">

<div class="container w-50">
  <div class="row">
    <div class="col-12">
      {% csrf_token %}
      {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="submit">

    </div>

  </div>

</form>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12">
      <h5>If you are currently seeking employment you can apply now for positions with Bid Ocean, New Kalapa Tech Park and Climate Survival Solutions India at</h5>

      <a href="https://www.bidocean.com/employment.php">CLICK HERE </a>

    </div>

  </div>

</div>
{% endblock %}
